body{
    background-image: url("https://cdn.prod.website-files.com/650811499cdfe4fd96c4f05b/650811499cdfe4fd96c4f0b2_haka-amended-2.webp") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}